/* search */
@media (-moz-bool-pref: "uc.tweak.popup-search") {
  #urlbar:is([breakout][breakout-extend]) {
    #urlbar-input {
      font-size: 24px !important;
      text-align: left !important;
      padding-block: 24px !important;
      padding-inline: 12px !important;
    }
    position: fixed !important;
    margin-bottom: 40vh !important;
    background-color: var(--toolbar-bgcolor) !important;
    left: 30vw !important;
    right: 20vw !important;
    width: 50vw !important;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3) !important;
    & .urlbarView-results {
      margin-top: 0px !important;
      font-size: 18px !important;
      padding-block-start: 0px !important;
      border-radius: 25px !important;
      background-color: var(--toolbar-field-background-color) !important;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.2) !important;
    }
    /* background */
    &:before {
      content: "";
      position: fixed;
      pointer-events: none;
      width: 100vw;
      height: 100vh;
      top: 0px;
      left: 0px;
      background: linear-gradient(45deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)) !important;
      backdrop-filter: blur(10px) !important;
      opacity: 0;
      transition: opacity 0.3s ease-in-out !important;
    }
  }
}
